
name: addme_photo
description: Offline Add Me photo merge app.
version: 1.0.0+1
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  camera: ^0.11.0+1
  path_provider: ^2.1.2
  uuid: ^4.3.3
  permission_handler: ^11.3.1
  share_plus: ^7.2.2
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
